<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">MyApp</a>

    <!-- Hamburger Button für mobile Geräte -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar-Inhalte -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Linke Seite (Navigation) -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            More
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/login">Test Login</a></li>
            <li><a class="dropdown-item" routerLink="/register">Test Register</a></li>
            <li><a class="dropdown-item" routerLink="/forgetPassword">Test Forget Password</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>

      <!-- Rechte Seite (User & Logout) -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">
            <i class="bi bi-box-arrow-in-right fs-3"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-person-circle fs-3"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">
            <i class="bi bi-box-arrow-left fs-3"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
