/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


html, body { 
    height: 100%; 
    @include mat.theme((
        typography: "Oswald",
    ))
}

body { 
    margin: 0; 
    padding: 0;
    font-family: "Oswald", serif;
    background-color: #f8f9fa; /* Hellgrauer Hintergrund */
}
  
  .card {
    border-radius: 10px;
  }

  .snackbar-error {
    .mdc-snackbar__surface{
      background-color: #f44336 !important;
      color: white !important;
    }
    .mat-mdc-snack-bar-actions{
      button{
        color: white!important;
      }
    }
  }

  .snackbar-success {
    .mdc-snackbar__surface{
      background-color: #4caf50 !important;
      color: white !important;
    }
    .mat-mdc-snack-bar-actions{
      button{
        color: white!important;
      }
    }
  }
